.ui-component__popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-component__popup-content{
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}