.event-details{
    background: #f6f7f8;
}

.event-details__header-wrapper{
    width: 100%;
    background: white;
}

.event-details__heading{
    display: flex;  
    padding: 24px 0 24px 0;
}

.event-details__user{
    width: 30%;
    padding: 30px 0 24px 0;
}

.event-details__button{
    display: flex;
    
}

.event-details__content, .event-details__header{
    max-width: 1100px;
    margin: auto;
    display: flex;
}
.event-details__content{
    background: #f6f7f8;
    min-height: calc(100vh - 232px);
}

.event-details__container, .event-details__heading{
    width: 66%;
    margin-right: 4%;
}

.event-details__location{
    background: white;
    width: 30%;
    margin-top: 30px;
    border-radius: 8px;
}

.message-body{
    height: 550px;
}