.event-details{
    background: #f6f7f8;
}

.event-details__header-wrapper{
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
}

.event-details__heading{
    display: flex;  
    padding: 24px 0 24px 0;
}

.event-details__user{
    width: 30%;
    padding: 30px 0 24px 0;
}

.event-button__container{
    display: flex;
    
}
.yes__button{
    margin-right: 50px;
    cursor: pointer;
}

.no__button{
    cursor: pointer;
}

.event-details__content, .event-details__header{
    max-width: 1100px;
    margin: auto;
    display: flex;
}
.event-details__content{
    background: #f6f7f8;
}

.event-details__container, .event-details__heading{
    width: 66%;
    margin-right: 4%;
}

.event-details__location{
    background: white;
    width: 30%;
    margin-top: 30px;
    border-radius: 8px;
    padding: 20px;
    height: 600px;
}