.event{
    width: 930px;
    margin: auto;
}

.eventlist-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.eventlist{
    display: inline-block;
    justify-content: flex-start;
    flex-wrap: nowrap;
}