.event-attendees{  
    padding: 10px;
}

.event-attendees__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;  
}

.event-attendees__image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.event-attendees__item{
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 16px 16px 0;
    width: 21%;
    text-align: center;
}

.event-attendees__none{
    border: 1px solid #ccc;
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    color: #2e3e48;
}