.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #c1bbbb;
}

.header__link{
    text-decoration: none;
}

.header .title{
    color: red;
    font-size: 1.6em;
}

.header__user-info{
    display: flex;
    align-items: center;
    color: #333;
}

.header__user-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

