.header-container{
    border-bottom: 1px solid #c1bbbb;
    color: red;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-title{
    margin: 0;
    padding: 0 20px;
}

.header__user-info{
    display: flex;
    align-items: center;
    color: #333;
}

.header__user-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

