.event-card {
    width: 330px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 rgba(46, 62, 72, 0.12), 0 2px 4px 0 rgba(46, 62, 72, 0.12);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.event-card:focus,
.event-card:hover {
    box-shadow: 0 0 4px 0 rgba(46, 62, 72, 0.12), 0 4px 12px 0 rgba(46, 62, 72, 0.12);
    transform: translateY(-1px);
}

.event-card__image {
    height: 200px;
    width: 100%;
}

.event-card__content {
    padding: 10px 20px;
    height: 160px;
    font-size: 1.1em;
}

.event-card_content .event-title_header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.2em;
}