.carousel{
    width: 100%;
    position: relative;
    margin: 0 20px;
}

.carousel__arrow{
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    line-height: 38px;
    position: absolute;
    background: white;
    text-align: center;
    z-index: 2;
    margin-top: -20px;
}

.carousel__arrow--left{
    top: 50%;
    left: -10px;
}

.carousel__arrow--right{
    top: 50%;
    right: -20px;
}

.carousel__wrapper{
    overflow: hidden;
}

.carousel__content{
    display: flex;
    transition: transform 0.25s cubic-bezier(.4, 0,.2, 1);
}