.event-date{
    padding: 5px 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 62px;
    width: 62px;
    text-align: center;
    margin: 12px 12px 12px 0;
}

.event-date__day{
    font-weight: bold;
    font-size: 1.5em;
}

.event-date__month{
    font-size: 0.8em;
    text-transform: uppercase;
}
